<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
				<label class="control-label">Search</label>
				<input type="text" ng-model="searchStr" placeholder="Start typing to find..">
		</div>
		<div class="span10">
			<ul class="list-style-none">
				<li class="thumbnail data" ng-repeat="client in clients | filter:searchStr">				
						<div class="row-fluid">							
							<a href="#/dashboard/client/{{client.code}}">
								<span class="span3 client-code">{{client.code}}</span>
								<span class="span4 client-description">{{client.name}}</span>								
							</a>
							<span class="span3">
								<a href="dashboard/client/{{client.code}}"><i class="app_45x45_icon-dashboard" title="View details in a dashboard"/></a>
								<a href="#/databases/client/{{client.code}}/db/all"><i class="app_45x45_icon-database" title="Get details about databases"/></a>
								<a href="#/reports/client/{{client.code}}"><i class="app_45x45_icon-charts" title="View detailed reports"/></a>
								<a href="#/downloads/client/{{client.code}}"><i class="app_45x45_icon-Globe-Download" title="Download data in xls/csv/xml format"/></a>
							</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

